<h3> edit your kitty </h3>
<%= form_tag "/products/#{@product.id}", method: :patch do %>

<div>
<%=label_tag :name @update.name %>
<%=text_field_tag :name @update.name %>
 </div>
 <div>
<%=label_tag :price @update.price %>
<%=text_field_tag :price @update.price %>
</div>
 <div>
<%=label_tag :description @update.description %>
<%=text_field_tag :description @update.description %>
 </div>
 <div>
<%=label_tag :image @update.image %>
<%=text_field_tag :image @update.image%>
 </div>

 <%= submit_tag "change!" %>

<%end%>