
<h1> Kittens </h1>

<a href="/products?sort=lowtohighprice">Sort By Price : low to high </a>
<a href="/products?sort=hightolowprice">Sort By Price : high to low </a>
<a href="/products/random"> ...help me pick... </a>
<a href="/products?sort=name">Sort By Name</a>
<%= form_tag "/search", method: :post do %>
<%= label_tag :search %>
<%= text_field_tag :search %>
<%= submit_tag "search" %>
<%end%>


<div class= "row">
<% @products.each do |kitty| %>
  <div class="col-md-3">
    <div class= "thumbnail">
      <a href="/products/<%= kitty.id %>">
      <p><%= kitty.name %> </p>
      <p><%= kitty.price %> </p>
      <p><%= kitty.description%> </p>
      <div>
         <img src="<%= kitty.image %>" width= "150" hight="150">
        </div>
      </a>
    </div>
</div>
<%end%>
</div>





<!-- <table class"table">
<tr>
 <th>name</th>
 <th>price</th>
 <th>description</th>
</tr>
<% @products.each do |kitty| %>
<tr>
<td><a href='/products/<%= kitty.id %>'><%= kitty.name %></a></td>
<td><%= kitty.price %></td>
<td><%= kitty.description %></td>
</tr>
<%end%>
</table>
 -->