<ul>
<li><%=@product.name %></li>
<li><%=@product.description %></li>
<li><%=@product.price %></li>
<li><%=@product.sale_item %></li>
<li><%=@product.sales_tax %></li>
<li><%=@product.total %></li>
<img src="<%= @product.image %>">
</ul>


<%= link_to "edit", "/products/#{@product.id}", method: :edit%>
<%= link_to "delete", "/products/#{@product.id}", method: :delete%>
