<ul>
<li><%=@product.name %></li>
<li><%=@product.description %></li>
<li><%=@product.sale_item %></li>
<li><%=@product.sales_tax %></li>
<li><%=@product.total %></li>
<li><%=@product.supplier.name %></li>
</ul>

<% @product.images.each do |image| %>


<img src="<%= image.url %>" width= "150" hight="150">


<% end %>


<%= link_to "edit", "/products/#{@product.id}", method: :edit%>
<%= link_to "delete", "/products/#{@product.id}", method: :delete%>
